<section>
  <button mat-icon-button >
    <mat-icon>search</mat-icon>
  </button>
</section>

<section class="poke-container">
  <app-poke-card
  *ngFor="let pokemon of pokemonService.pokemons; index as i"
    [pokemon]="pokemon.name"
    [numero]="i + 1"
  ></app-poke-card>
</section>

<hr>
<h1>Teste novo modelo de request</h1>

<section class="poke-container">
  <ng-container *ngFor="let pokemon of listPoke; index as i">
    <app-poke-card [pokemon]="pokemon.name"
                    [numero]="i + 1"></app-poke-card>
  </ng-container>
</section>
