<!--<section class="search">
  <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Assignee</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</section>-->

<section class="poke-list-container">
  <ng-container *ngFor="let pokemon of pokemonsList; index as i">
    <app-poke-card [pokemon]="pokemon.name "
                   [numero]="i + 1"></app-poke-card>
  </ng-container>
</section>
