<div class="box-card">
  <mat-card class="card" (click)="onGetInfo(pokemon.name)">
    <!--<img
      class="img-card-100"
      [src]="pokemon.sprites.other.dream_world.front_default"
    />-->
    <img
      class="img-card-100"
      [src]="pokemon.sprites.other['official-artwork'].front_default"
    />
    <mat-card-title class="title-card">
      {{ pokemon.name | uppercase }}
    </mat-card-title>
    <mat-card-content>
      <mat-chip-set aria-label="Fish selection">
        <mat-chip 
          *ngFor="let type of pokemon.types" 
          [ngClass]="type.type.name">
            {{ type.type.name }}
        </mat-chip>
      </mat-chip-set>
    </mat-card-content>
  </mat-card>
</div>
