.box-card {
  width: 235px;
  height: 275;
  margin-top: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  cursor: pointer;
  
}

.img-card-100 {
  width: 150px;
}

.title-card {
  font-size: large;
}
