.search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 30%;
  background-color: transparent;
  border-radius: 5px;
  border: solid 3px #868686b9;
}

.search input {
  width: 80%;
  color: white;
}

.search button {
  color: #868686;
}

.c-home {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    align-items: center;
  }

  &__button {
    display: flex;
    margin: 50px auto;
    background-color: #f1f1f1;
    ::ng-deep .mat-mdc-button-base {
      color: red;
    }
  }

}
/*
< mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base" mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label"> Carregar mais pokemons </span><span class="mat-mdc-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span></button>*/