<section class="dialog-container">
  <img [src]="data.sprites.front_default" alt="Pokemon">
  <h1>{{ data.name | uppercase }}</h1>

  <section class="caracteristica-container">
    <p>Altura: {{ data.height }} m</p>
    <p>Peso: {{ data.weight }} kl</p>
    <p>Categoria:</p>
    <p>Habilidade:</p>
  </section>

  <h2>Estatísticas</h2>

<section class="c-stats">
  <ng-container *ngFor="let item of data.stats">
    <label class="c-stats">{{ item.stat.name | uppercase }} ({{ item.base_stat }})</label>
    <mat-progress-bar class="mb-5" mode="determinate" [value]="item.base_stat"></mat-progress-bar>
  </ng-container>
</section>

  <!-- <section>
    <label>HP</label>
    <mat-progress-bar class="mb-5" mode="determinate" value="40"></mat-progress-bar>
    <label>Ataque</label>
    <mat-progress-bar class="mb-5" mode="determinate" value="20"></mat-progress-bar>
    <label>Defesa</label>
    <mat-progress-bar class="mb-5" mode="determinate" value="80"></mat-progress-bar>
    <label>Ataque especial</label>
    <mat-progress-bar class="mb-5" mode="determinate" value="30"></mat-progress-bar>
    <label>Defesa especial</label>
    <mat-progress-bar class="mb-5" mode="determinate" value="50"></mat-progress-bar>
    <label>Velocidade</label>
    <mat-progress-bar class="mb-5" mode="determinate" value="60"></mat-progress-bar>

  </section> -->

</section>


