<section class="dialog-container">
  <div class="img-container">
    <img
      class="img-pokemom"
      [src]="data.sprites.other.dream_world.front_default"
      alt="Pokemon"
    />
  </div>

  <div class="informacao">
    <h1>{{ data.name | uppercase }}</h1>
    <div class="caracteristicas">
    <!-- Altura -->
      <div>
        <p>Altura</p>
        <p>{{ data.height }} m</p>
      </div>
      <!-- Peso -->
      <div>
        <p>Peso</p>
        <p>{{ data.weight }} kg</p>
      </div>
      <div>
        <p>Habilidade</p>
        <p>
          {{ data.abilities[0].ability.name }}
          {{ data.abilities[1].ability.name }}
        </p>
    </div>
    </div>

    <div class="estatisticas">
      <ng-container *ngFor="let item of data.stats">
        <label class="c-stats"
          >{{ item.stat.name | uppercase }} ({{ item.base_stat }})</label
        >
        <mat-progress-bar
          class="mb-5"
          mode="determinate"
          [value]="item.base_stat"
        ></mat-progress-bar>
      </ng-container>
    </div>
  </div>
</section>
